{% extends "idec/basic_body.html" %}
			{% block content %}
            {% with blocks=page.body %}
                {% for block in blocks %} 
                    {% if block.block_type == 'about' %}
                    <!--Hero Section ======================-->
                        {% include "about_us/info.html" with block=block only %}
                    {% endif %}
                    <!-- End Hero Section ======================-->
                    {% if block.block_type == 'about_banner' %}
                    <!--Hero Section ======================-->
                        {% include "about_us/about_banner.html" with block=block only %}
                    {% endif %}
                    <!-- End Hero Section ======================-->
                    {% if block.block_type == 'aboutstory' %}
                    <!--Hero Section ======================-->
                        {% include "about_us/aboutstory.html" with block=block only %}
                    {% endif %}
                    <!-- End Hero Section ======================-->
                                        <!-- End Hero Section ======================-->
                                        {% if block.block_type == 'aboutvideo' %}
                                        <!--Hero Section ======================-->
                                            {% include "about_us/aboutvideo.html" with block=block only %}
                                        {% endif %}
                                        <!-- End Hero Section ======================-->

                                        {% comment %} {% if block.block_type == 'banner' %}
                                        <!--blog Section ======================-->
                                            {% include "banner/home_banner.html" with block=block only %}
                                        <!--End blog Section ======================-->
                                        {% endif %} {% endcomment %}
                    
                    
                {% endfor %}
            {% endwith %}
			{% endblock %}
