{% extends "idec/basic_body.html" %}

{% load wagtailcore_tags wagtailimages_tags %}

{% block body %}    
<div class="page">

<Style>


	.architronix-button_product{
		align-items: center;
		margin: 30px auto;

	}
	.architronix-button_product .btn {
		display: flex; /* يستخدم flex لتنسيق المحاذاة */
		align-items: center;
		justify-content: space-between; /* يجعل النص على اليسار والأيقونة على اليمين */
		margin: 10px auto;
		border-radius: 30px;
		padding: 12px 25px;
		border-width: 2px;
		width: 100%;
		max-width: 500px;
		transition: background-color 0.3s, color 0.3s, box-shadow 0.3s;
		text-align: left; /* محاذاة النص لليسار */
	}
	
	.architronix-button_product .btn:hover {
		color: #fff;
		box-shadow: 0 6px 18px rgba(0, 0, 0, 0.2);
	}
	
	.architronix-button_product .btn .fa-whatsapp,
	.architronix-button_product .btn .fa-envelope {
		color: #25D366;
		transition: transform 0.3s;
	}
	
	.architronix-button_product .btn:hover .fa-whatsapp,
	.architronix-button_product .btn:hover .fa-envelope {
		transform: translateX(5px);
	}
	
	.architronix-button_product .btn .btn-text {
		flex-grow: 1; /* يجعل النص يشغل مساحة أكبر لضمان المحاذاة */
		margin-right: 10px; /* يضيف مسافة بسيطة بين النص والأيقونة */
	}
	
	
</Style>




			<!--Shop-Tabs Section ======================-->
			<section class="section-shop section-shop-tabs pt-130 pt-lg-200 position-relative">
				<div class="container">	
					<div class="row justify-content-between gy-4">
						<div class="col-lg-6">
							<!-- Tabs-Contents -->            
							<div class="tab-content" id="shops-tabContent">
								<!--shop-1-tab  -->
								{% for image in page.gallery_images_product_bg.all %}
								{% image image.image width-1000 as img %}
								<!--shop-1-tab  -->
								<div class="tab-pane fade show  {% if forloop.counter0 == 0 %} active   {% endif %}" id="shop-{{ forloop.counter }}" role="tabpanel" aria-labelledby="shop-{{ forloop.counter }}-tab" tabindex="0">
									<img src="{{ img.url }}" class="img-fluid" alt="img">
								</div>
								<!--shop-1-tab  -->
								{% endfor %}  
							</div>
							<!-- Tabs-Contents --> 

							<!-- Tabs -->
							<ul class="shop-tabs nav nav-pills d-flex gap-20 mt-20" id="shops-tab" role="tablist">
								
								{% for image in page.gallery_images_product.all %}
								{% image image.image width-1000 as img %}

								<li class="nav-item" role="presentation">
									<button class="shop-button  {% if forloop.counter0 == 0 %} active   {% endif %}" id="shop-{{ forloop.counter }}-tab" data-bs-toggle="pill" data-bs-target="#shop-{{ forloop.counter }}" type="button" role="tab" aria-controls="shop-{{ forloop.counter }}" aria-selected="true">
										
										<img src="{{ img.url }}" alt="img">	
									</button>
								</li>							
								{% endfor %}  					             
							</ul>
							<!-- Tabs -->
						</div>
						<!-- col-6 -->
						<div class="col-lg-5">
							<div class="shop-product-descriptions sticky-elements">

								{% if page.product_title %}

								<h5 class="display-5 lh-1">{{ page.product_title|richtext }}</h5>
								{% endif %}

								
								{% if page.product_subtitle %}

								<p class="mb-0 mt-3 mt-lg-20">{{ page.product_subtitle|richtext }}</p>
								{% endif %}

								{% if page.product_smalldescription %}
								<p class="mb-0 mt-3 mt-lg-20">{{ page.product_smalldescription|richtext }}</p>
							{% endif %}
							
								






								<div class="architronix-button_product">
									<a href="https://wa.me/yourwhatsapplink" target="_blank" class="btn btn-outline-primary gap-10">
										Write to us or order on Whatsapp 
										<i class="fab fa-whatsapp"></i>  
									</a>
									
									
									<a href="https://example.com/another-link" target="_blank" class="btn btn-outline-primary gap-10">
										Request Info
										<i class="fas fa-question-circle"></i>  
									</a>
									
									
									<a href="https://example.com/another-link" target="_blank" class="btn btn-outline-primary gap-10">
										Request prices/quote
										<i class="fas fa-paper-plane"></i>  
									</a>
									
								</div>
















								<ul class="shop-product-list d-flex flex-column gap-10 list-unstyled mb-0">
								
									<li class="d-flex align-items-center gap-10">
										<span class="list-description">CATEGORY :</span>
										<a href="#" class="shop-items-link link-hover-animation-1">{{ page.category }}</a>
									</li>
									
									<li class="d-flex align-items-center gap-10">
										<span class="list-description">Brand :</span>
										<a href="#" class="shop-items-link link-hover-animation-1">{{ page.brand }}</a> 
									</li>
								</ul>

							</div>							
						</div>
					</div>
					<!-- row -->
					
				</div>
				<!-- container -->
			</section>
			<!--Shop-Tabs Section ======================-->




 















			{% if page.product_description or page.product_details %}

			<!--Shop-Description Section ======================-->
			<div class="section-shop section-shop-description pt-60 pt-lg-100 position-relative">
				<div class="container">
					<!-- Tabs -->
					<ul class="shop-description-tabs nav nav-pills d-flex" id="shop-description-tab" role="tablist">


						{% if page.product_description %}


						<li class="nav-item" role="presentation">
							<span class="shop-description-button active" id="description-1-tab" data-bs-toggle="pill" data-bs-target="#description-1" role="tab" aria-controls="description-1" aria-selected="true">
								<span class="fs-4 fw-bold mb-0">Description</span>
							</span>
						</li>

						{% endif %}

						{% if page.product_details %}


						<li class="nav-item" role="presentation">
							<span class="shop-description-button" id="description-2-tab" data-bs-toggle="pill" data-bs-target="#description-2" role="tab" aria-controls="description-2" aria-selected="false">
								<span class="fs-4 fw-bold mb-0">Product Details</span>
							</span>
						</li>   	
						{% endif %}
		             
					</ul>
					<!-- Tabs -->

					<!-- Tabs-Contents -->            
					<div class="tab-content" id="shop-description-tabContent">
						<!--description-1-tab  -->

						{% if page.product_description %}

						<div class="tab-pane fade show active" id="description-1" role="tabpanel" aria-labelledby="description-1-tab" tabindex="0">
							<div class="description-details">
								<p class="mb-30">
									{{ page.product_description|richtext }}
								</p>
								
							</div>							
						</div>
						{% endif %}

						<!--description-1-tab  -->

						<!--description-2-tab  -->
						{% if page.product_details %}

						<div class="tab-pane fade" id="description-2" role="tabpanel" aria-labelledby="description-2-tab" tabindex="0">
							<div class="description-details">
								<p class="mb-30">
									{{ page.product_details|richtext }}	
								</p>
								
							</div>						
						</div>
						{% endif %}

						<!--description-2-tab  -->
					</div>
					<!-- Tabs-Contents --> 					
				</div>
			</div>
			<!--Shop-Description Section ======================-->

			{% endif %}


			<!--Shop-Swiper Section ======================-->
 

























 








			<!--Shop-Swiper Section ======================-->
			

            {% with blocks=page.body %}

                {% for block in blocks %} 
                   
                    {% comment %} {% if block.block_type == 'bodyBlock_banners' %}
                        {% include "banner/home_banners.html" with block=block only %}
                    {% endif %} {% endcomment %}
					{% if block.block_type == 'productContenet' %}
					<!-- عرض الـ content المرتبط بالـ block -->
					{% include "product/productContenet.html" with block=block only %}
				{% endif %}


				{% if block.block_type == 'intro_with_background_' %}
				<!--Hero Section ======================-->
					{% include "idec/intro_with_background.html" with block=block only %}
				{% endif %}
				<!-- End Hero Section ======================-->


				{% if block.block_type == 'blogsContenet' %}
				<!--blog Section ======================-->
					{% include "blog/blogsContenet.html" with block=block only %}
				<!--End blog Section ======================-->
				{% endif %}


                {% endfor %}
            {% endwith %}

			
















		</div>

{% endblock body %}

