{% extends "idec/basic_body.html" %}

{% load wagtailcore_tags wagtailimages_tags %}

{% block body %}    
 


 			<!--Banner Section ======================-->
             <section class="section-banner position-relative pt-60">
				<div class="section-full-width">
					<div class="section-title-wrapper position-relative">	
						<div class="scroll-move">
							<span class="scrolling-text display-1 fw-extra-bold stroke-title text-stroke stroke-opacity-20 stroke-width-1 stroke-primary lh-1">{{ page.title_background }}</span>
						</div>				
						
						<div class="container">	
							<div class="section-title section-separator">
								<h2 class="fw-extra-bold heading-title separator lh-1">{{ page.name }}</h2>
								<div class="d-flex flex-column flex-lg-row gap-4 align-items-lg-end justify-content-lg-between">
									<p class="fs-4 fw-semibold mb-0 subtitle subtitle-width">{{ page.description }}</p>
								</div>
							</div>
						</div>
					</div>
					<!-- section-title-wrapper -->
				</div>
				<!-- section-full-width -->								
			</section>
			<!--Banner Section ======================-->



	
          
            






 













<!-- Shop Section ======================-->
<section class="section-shop position-relative">
    <div class="container">
        <!-- Loop through child pages -->
        {% comment %} {% for post in page.get_children %}
        {% with post=post.specific %}
        <section class="section-shop position-relative">
            <div class="container">
                <a href="{% pageurl post %}">{{ post.name }}</a>








            </div>
        </section>
        {% endwith %}
        {% endfor %} {% endcomment %}




        <div class="container mt-5" style="margin-bottom: 50px;">
            <div class="row g-3"> <!-- g-3 يضيف مسافة بين العناصر -->


                {% for post in page.get_children %}
                {% with post=post.specific %}

                

                <div class="col-auto">
                    {% comment %} <button type="button" class="btn btn-secondary">{{ post.name }}</button> {% endcomment %}
                    <a href="{{ post.url }}" class="btn btn-secondary">{{ post.name }}</a>

                </div>

                
                {% endwith %}
                {% endfor %}








                <div class="wp-block-tag-cloud d-flex pt-30 pt-lg-70 flex-wrap mb-30">
                    <a href="#" class="text-decoration-none tag-cloud-link btn-hover-animation-3">Art and Decor</a>
                    <a href="#" class="text-decoration-none tag-cloud-link btn-hover-animation-3">Modern Living</a>
                    <a href="#" class="text-decoration-none tag-cloud-link btn-hover-animation-3">Renovations</a>
                    <a href="#" class="text-decoration-none tag-cloud-link btn-hover-animation-3">Vintage Style</a>									
                </div>





            </div>
        </div>














































        <div class="row gx-4 gy-5 gy-lg-70 section-padding-lg">
            <!-- Loop through product detail pages -->
            {% for product_page in page.productdetailpage_set.all %}
            {% with product=product_page.specific %}
            <div class="col-md-6 col-lg-4">
                <div class="shop-details">
                    <div class="shop-image-wrapper position-relative">
                        <div class="shop-image">
                            {% if product.gallery_images_product.all %}
                            {% with product.gallery_images_product.all|first as first_image %}
                            {% image first_image.image width-1000 as img %}
                            <img src="{{ img.url }}" class="w-100 h-100 object-fit-cover" alt="img">
                            {% endwith %}
                            {% endif %}
                        </div>
                    </div>
                    <a href="{% pageurl product %}" class="text-decoration-none">
                        <div class="shopping-info-wrapper mt-3 mt-lg-4 d-flex justify-content-between">
                            <div class="shopping-item-details">
                                <h5 class="fw-semibold product-title">{{ product.product_title|richtext }}</h5>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            {% endwith %}
            {% endfor %}
        </div>
    </div>
</section>
<!-- Shop Section ======================-->




			

{% endblock body %}
