
{% load wagtailcore_tags wagtailimages_tags %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}

	  

			<!--Hero Section ======================-->
			<section class="section-hero hero-3 position-relative max-width z-1 overflow-hidden bg-dark">
				<div class="video-bg">		
					<video muted loop autoplay>						
						<source src="assets/videos/video-3.mp4" type="video/mp4">
						Your browser does not support the video tag.
					</video>
					<div class="video-bg-overlay"></div>					
					<div>						
						<div class="container">		
							<div class="content-text text-start">	
								<h1 class="huge-text light-text typed-text fw-extra-bold lh-1">
									Shaping Interior<br>
									<div id="typed-strings">
										<p>Excellence</p>
										<p>Sophistication</p>
										<p>Elegance</p>
										<p>Brilliance</p>
										<p>Harmony</p>
									</div>
									<span id="typed"></span>								
								</h1>
								<div class="architronix-button">
									<a href="project-archive.html" class="btn btn-secondary gap-10">Explore our Portfolio 
										<svg width="35" height="22" viewBox="0 0 35 22" fill="none" xmlns="http://www.w3.org/2000/svg">
											<path fill-rule="evenodd" clip-rule="evenodd" d="M24 0.585815L34.4142 10.9999L24 21.4142L22.5858 20L30.5857 12L0 12L2.38419e-07 10L30.5858 10L22.5858 2.00003L24 0.585815Z"/>
										</svg>	
									</a>
								</div>
							</div>										
						</div>						
					</div>					
				</div>
			</section>
			<!--Hero Section ======================-->




















