{% load wagtailcore_tags wagtailimages_tags %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}







            
			<!--Service Section ======================-->
			<section class="section-service">
				<div class="section-full-width">	
				 
		
					<div class="row gx-60 gy-3 mt-n30 position-relative">
					
         
                        



                        {% for slide in block.value.services_contenets %}
                        <div class="col-sm-6 col-lg-4 col-xl-3">
							<div class="service-details">
								<h2 class="stroke-heading">
									<svg stroke-width="1" class="text-line-2 fw-extra-bold"><text {% if LANGUAGE_CODE == 'ar' %} x="100%" {% else %} x="0%" {% endif %} dominant-baseline="middle" y="70%">{{ forloop.counter }}</text></svg>
								</h2>
								{% with slide.value.localized as page_localed %}
								<a href="{% pageurl page_localed %}" class="text-decoration-none"><h4 class="service-title link-hover-animation-1 d-inline-block">{{ page_localed.servies_title}} </h4></a>
								<p class="mb-0">{{ page_localed.description|richtext}}</p>
							</div>
						</div>
						<!-- col-3 -->
						 		{% endwith %}


						{% comment %} {% endif %} {% endcomment %}

                        {% endfor %}                 






					</div>
					<!-- row -->	
				</div>
				<!-- section-full-width -->
			{% comment %} </div> {% endcomment %}

			</section>
			<!--Service Section ======================-->

			