{% load wagtailcore_tags wagtailimages_tags %}
            <!--Gallery Section ======================-->
			<section class="section-gallery max-width">
				<div class="section-full-width">	
					<div class="section-title-wrapper position-relative">
						<div class="scroll-move">
							<span class="scrolling-text display-1 fw-extra-bold stroke-title text-stroke stroke-opacity-20 stroke-width-1 stroke-primary lh-1">Gallery</span>
						</div>				
						<div class="container">	
							<div class="section-title section-separator">
								<h2 class="fw-extra-bold heading-title separator lh-1">Exploring Our Creations</h2>
								<div class="d-flex flex-column flex-lg-row gap-4 align-items-lg-end justify-content-lg-between">
									<p class="fs-4 fw-semibold mb-0 subtitle subtitle-width">Where Imagination Takes Flight, and Excellence Blossoms</p>	
									<div class="architronix-button">
										<a href="project-archive.html" class="btn btn-outline-primary  gap-10">View All Projects 							
											<svg class="arrow-reverse" width="35" height="22" viewBox="0 0 35 22" fill="none" xmlns="http://www.w3.org/2000/svg">
												<path fill-rule="evenodd" clip-rule="evenodd" d="M24 0.585815L34.4142 10.9999L24 21.4142L22.5858 20L30.5857 12L0 12L2.38419e-07 10L30.5858 10L22.5858 2.00003L24 0.585815Z"/>
											</svg>							
										</a>
									</div>								
								</div>
							</div>
						</div>
					</div>			
				</div>

				<div class="horizontal-accordion d-flex">
                    {% for slide in block.value %}
					<div class="gallery-contents {% if forloop.counter == 1 %} gallery-expand  {% else %} gallery-sm {% endif %}">
						
						<div class="gallery-wrapper position-relative overflow-hidden w-100 h-100">
							<div class="gallery-image-wrapper overlay">
								{% image slide.value.slider_images_big.all.0.image width-750 height-750 as img %}
                                <img alt="hero-image" class="position-absolute start-0 top-0 w-100 h-100 object-fit-cover" src="{{ img.url }}">
								{% comment %} jkasndjkasd {% endcomment %}
                                <div class="gallery-info-wrapper">
									<div class="gallery-info">
										<a href="project-single.html" class="text-decoration-none link-hover-animation-1 gallery-title separator"><h4 class="mb-0">{{ slide.value.name }}</h4></a>
										<p class="gallery-description">{{ slide.value.description }}</p>
									</div>
								</div>								
							</div>							
							<h3 class="gallery-item stroke-heading stroke-heading-2 mb-0">
								<svg stroke-width="1" class="text-line-2 fs-60 fw-extra-bold"><text x="0%" dominant-baseline="middle" y="70%">{{ forloop.counter }}</text></svg>
							</h3>													
						</div>
												
					</div>
                    {% endfor %}
				  				
				</div>			  
			</section>
			<!--Gallery Section ======================-->
