{% extends "idec/basic_body.html" %}
			{% block content %}
            {% with blocks=page.body %}
                {% for block in blocks %} 
                    {% if block.block_type == 'slider' %}
                    <!--Hero Section ======================-->
                        {% include "idec/homeslider.html" with block=block only %}
                    {% endif %}

                    {% if block.block_type == 'slide_text' %}
                    <!--Hero Section ======================-->
                        {% include "idec/homeslider_text.html" with block=block only %}
                    {% endif %}


                    <!-- End Hero Section ======================-->
                    {% if block.block_type == 'intro' %}
                    <!--Hero Section ======================-->
                        {% include "idec/intro.html" with block=block only %}
                    {% endif %}
                    <!-- End Hero Section ======================-->


                    {% if block.block_type == 'intro' %}
                    <!--Hero Section ======================-->
                        {% include "idec/intro.html" with block=block only %}
                    {% endif %}
                    <!-- End Hero Section ======================-->



                    {% if block.block_type == 'about' %}
                    <!--About Section ======================-->
                        {% include "idec/homeabout.html" with block=block only %}
                    <!--End About Section ======================-->
                    {% endif %}

					{% if block.block_type == 'projects' %}
                    <!--project Section ======================-->
                        {% include "idec/homeproject.html" with block=block only %}
                    <!--End project Section ======================-->
                    {% endif %}
					{% if block.block_type == 'feedback' %}
                    <!--project Section ======================-->
                        {% include "idec/homefeedback.html" with block=block only %}
                    <!--End project Section ======================-->
                    {% endif %}
					{% if block.block_type == 'aboutvideo' %}
                    <!--Aboutvideo Section ======================-->
                        {% include "idec/homeaboutvideo.html" with block=block only %}
                    <!--End Aboutvideo Section ======================-->
                    {% endif %}

					{% if block.block_type == 'services' %}
                    <!--project Section ======================-->
                        {% include "idec/homeservice.html" with block=block only %}
					{% endif %}
                    <!--End project Section ======================-->
					{% if block.block_type == 'gallery' %}
                    <!--gallery Section ======================-->
                        {% include "idec/homegallery.html" with block=block only %}
                    <!--End gallery Section ======================-->
                    {% endif %}

					{% if block.block_type == 'blogs' %}
                    <!--blog Section ======================-->
                        {% include "idec/homeblog.html" with block=block only %}
                    <!--End blog Section ======================-->
                    {% endif %}


					{% if block.block_type == 'products' %}
                    <!--blog Section ======================-->
                        {% include "idec/homeproduct.html" with block=block only %}
                    <!--End blog Section ======================-->
                    {% endif %}



                    {% if block.block_type == 'banner' %}
                    <!--blog Section ======================-->
                        {% include "banner/home_banner.html" with block=block only %}
                    <!--End blog Section ======================-->
                    {% endif %}



                {% endfor %}
            {% endwith %}
			{% endblock %}
