
{% load wagtailcore_tags wagtailimages_tags %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}


{% if block.block_type == 'brandContenet' %}  



<!-- heading -->
<section class="section-full-width position-relative pt-60">
<div class="credits">
<div class="swiper-custom-progress position-relative">
    <div class="container">	
         
        <div class="swiper brand-swiper">
            <div class="swiper-wrapper">
                {% for block_banner in page.bodycat %}
                    {% if block_banner.block_type == 'brandContenet' %}  
                        {% for block_banner in block_banner.value %}
                     
                            <div class="credits-wrapper swiper-slide">
                                <div class="cridit-image">
                                    <!-- Assuming `gallery_images_Brands` is an image field in `BrandsDetailPage` -->
                                    {% image block_banner.value.gallery_images_Brands.all.0.image width-800 as img %}
                                    <img src="{{ img.url }}" class="w-100 h-100" style="height: 300px;" alt="Brand Image">
                                </div>
                                <a href="{{ brand_block.value.brand.url }}">
                                    <h5 class="mt-4 mt-lg-30">{{ block_banner.value.Brands_title }}</h5> <!-- عرض عنوان العلامة التجارية -->
                                </a>
                                <p class="mb-0 pt-1">{{ block_banner.value.Brands_subtitle }}</p> <!-- عرض الوصف الفرعي إذا كان موجودًا -->
                            </div>
                        {% endfor %}
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="container">
        <div class="brand-swiper-pagination-wrapper">
            <div class="brand-swiper-pagination"></div>						
            <div class="swiper-button-progress">	
                <div class="progress-button-prev">
                    <svg class="arrow" width="35" height="22" viewBox="0 0 35 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M24 0.585815L34.4142 10.9999L24 21.4142L22.5858 20L30.5857 12L0 12L2.38419e-07 10L30.5858 10L22.5858 2.00003L24 0.585815Z"/>
                    </svg>
                </div>							
                <div class="progress-button-next">
                    <svg class="arrow-reverse" width="35" height="22" viewBox="0 0 35 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M24 0.585815L34.4142 10.9999L24 21.4142L22.5858 20L30.5857 12L0 12L2.38419e-07 10L30.5858 10L22.5858 2.00003L24 0.585815Z"/>
                    </svg> 
                </div>																
            </div>
        </div>							
    </div>	
</div>
</div>	
</section>
   {% endif %}
<!-- Brands Section ======================-->


