

{% extends "idec/basic_body.html" %}

{% load wagtailcore_tags wagtailimages_tags %}
{% load static %}


{% block body %}    

{% with blocks=page.body %}


   {% for block in page.bodycat %}

    <!--Banner Section ======================-->

 


   


    {% if block.block_type == 'intro_header' %}
    <!--Hero Section ======================-->
        {% include "categorization/header.html" with block=block only %}
    {% endif %}
    




{% if block.block_type == 'block_header' %}
<!--Hero Section ======================-->
    {% include "categorization/front_any_section.html" with block=block only %}
{% endif %}






{% if block.block_type == 'brandContenet' %}
<!--Hero Section ======================-->
    {% include "brands/brandContenet.html" with block=block only %}
{% endif %}



{% if block.block_type == 'categoryContenet' %}
<!--Hero Section ======================-->
    {% include "categorization/categoryContenet.html" with block=block only %}
{% endif %}


 



{% if block.block_type == 'productContenet' %}
<!--Hero Section ======================-->
    {% include "product/productContenet.html" with block=block only %}
{% endif %}




{% if block.block_type == 'blogsContenet' %}
<!--Hero Section ======================-->
    {% include "blog/blogsContenet.html" with block=block only %}
{% endif %}







 





{% endfor %}

{% endwith %}

{% endblock body %}