
{% extends "idec/basic_body.html" %}

{% load wagtailcore_tags wagtailimages_tags %}
{% load static %}

{% load mptt_tags %}
{% load define_action %}
{% load wagtailroutablepage_tags %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/sub_cat.css' %}">
{% endblock %}
{% block body %}    
				<!--Hero Section ======================-->
				<section class="">

			{% if page.header_sec %}
				{% include "categorization/header.html" with header=page.header_sec.0.value only %}
			{% endif %}
				</section>
				<!--Hero Section ======================-->

			<!--Blog-Section ======================-->
			<section class="section-blog position-relative pt-60">
				<div class="container">
					<div class="position-relative section-padding-xxl">
						<div class="row gx-60 gy-5">
							<div class="col-lg-4">
								<div class="d-flex flex-column gap-5 gap-lg-70">
									{% comment %} <div class="widget">
										<h5 class="display-5 fw-semibold mb-30 lh-1">Search</h5>
										<form action="#" class="contact-form">
											<div>
												<input type="text" class="form-control" id="formInput" placeholder="Type & Hit Enter">
											</div>										  
										</form>
									</div> {% endcomment %}
									<!-- widget -->

									<div class="widget">
										<h5 class="display-5 fw-semibold mb-30 lh-1">Categories</h5>
										<ul class="category-lists list-unstyled mb-0 d-flex flex-column gap-20">
                                                    {% recursetree cats %}
                                                        <li>
                                                            {% if node.sub_page.live %}
                                                                    {% define node.sub_page.live.0.localized  as cur %}
                                                                {% elif node.page.live %}
                                                                    {% define node.page.live.0.localized as cur %}
                                                                {% endif %}
                                                            {% if cur %}
                                                            <li class="d-flex align-items-center gap-4">
                                                                {% comment %} <svg width="35" height="22" viewBox="0 0 35 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M24 0.585815L34.4142 10.9999L24 21.4142L22.5858 20L30.5857 12L0 12L2.38419e-07 10L30.5858 10L22.5858 2.00003L24 0.585815Z"/>
                                                                </svg>	 {% endcomment %}
                                                                
                                                                
                                                                {% if not node.is_child_node %}
                                                                    <span class="dropdown-icon">
                                                                        <svg width="12" height="9" viewBox="0 0 12 9" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                                            <path d="M11 8L6 2L1 8"></path>
                                                                        </svg>
                                                                    </span>
                                                                {% else %}
                                                                    <svg width="35" height="22" viewBox="0 0 35 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                                        <path fill-rule="evenodd" clip-rule="evenodd" d="M24 0.585815L34.4142 10.9999L24 21.4142L22.5858 20L30.5857 12L0 12L2.38419e-07 10L30.5858 10L22.5858 2.00003L24 0.585815Z"/>
                                                                    </svg>
                                                                {% endif %}
                                                                {% pageurl cur as cur_url  %}
                                                                
                                                                <a href="{{ cur_url }}" class="text-decoration-none {% if cur_url == request.path %} active {% else %} {% endif %}link-hover-animation-1 {% if not node.is_child_node %} fw-bold {% else %} {% endif %}">{{ cur.title }}<span class="fw-bold"> </span></a> 
                                                            </li>
                                                            {% if not node.is_leaf_node %}
                                                                <ul class="list-unstyled children  sub">
                                                                    {{ children }}
                                                                </ul>
                                                            {% endif %}
                                                            {% endif %}
                                                        </li>
                                                    {% endrecursetree %}
                                                    

										</ul>
									</div>
									<!-- widget -->
                                    {% if brand_pages %}
									<div class="widget">
										<h5 class="display-5 fw-semibold mb-30 lh-1">Brands</h5>
										<div class="wp-block-tag-cloud d-flex flex-wrap" hx-on:click="if (event.target.classList.contains('tag-cloud-link')) htmx.takeClass(event.target, 'active')">
                                            {% for brand_page in brand_pages %}
											<a hx-get="{% routablepageurl page "products" %}?brand={{ brand_page.brand }}" hx-target="#paginated_prods" hx-swap="outerHTML" href="#" hx-replace-url="?brand={{ brand_page.brand }}" class="text-decoration-none tag-cloud-link btn-hover-animation-3 {% if brand == brand_page.brand %}active{% else %}{% endif %}">{{ brand_page.title }}</a>
											{% comment %} <a href="{% pageurl brand_page.localized %}" class="text-decoration-none tag-cloud-link btn-hover-animation-3">{{ brand_pages.title }}</a> {% endcomment %}
											
                                            {% endfor %}
                                        </div>
									</div>
                                    {% endif %}
									<!-- widget -->
								</div>
								
							</div>
							<!-- col-4 -->
                            {% if product_pages %}
                                {% include  "categorization/paginated_cat_prods.html" with product_pages=product_pages %}
                            {% endif %} 
                           
						
							<!-- col-8 -->
						</div>
						<!-- row -->
						
					</div>
                    			
				</div>	
				<!-- container -->
			</section>
			<!--Blog-Section ======================-->



			<!--Feedback Section ======================-->
			<section class="section-feedback feedback-1 text-secondary">
				<div class="container">
					<div class="feedback-wrapper position-relative">
						<div class="feedback-content d-flex flex-column gap-4 flex-lg-row align-items-lg-end justify-content-lg-around">
							<h2 class="fw-extra-bold feedback-title">Drop Us a Line</h2>
							<div class="architronix-button">
								<a href="contact-2.html" class="btn btn-secondary gap-10"> 
									Lets Talk
									<svg class="arrow" width="35" height="22" viewBox="0 0 35 22" fill="none" xmlns="http://www.w3.org/2000/svg">
										<path fill-rule="evenodd" clip-rule="evenodd" d="M24 0.585815L34.4142 10.9999L24 21.4142L22.5858 20L30.5857 12L0 12L2.38419e-07 10L30.5858 10L22.5858 2.00003L24 0.585815Z"></path>
									</svg>
								</a>
							</div>
							
						</div>
					</div>
				</div>
			</section>
			<!--Feedback Section ======================-->
		


			

{% endblock %}

		<!-- pages -->
		
	