{% extends 'project_base.html' %}

{% load wagtailcore_tags wagtailimages_tags %}

{% block body %}    
 




			<!--Banner Section ======================-->			
			<div class="blog-single-image position-relative max-width">
				<div class="overlay">					
					<picture>						
						<source media="(max-width:530px)" srcset="assets/images/blog-single-image-sm.jpg">
                        {% for image in page.gallery_images_blog.all %}
                        {% image image.image width-1000 as img %}
        
                      
        						<img src="{{ img.url }}" class="w-100 h-100 object-fit-cover" alt="hero-image">

        
                        {% endfor %}
					</picture> 
				</div>
				<div class="container">
					<div class="blog-single-text position-absolute">
						<h5 class="display-3 fw-extra-bold mb-0">{{ page.blog_title|richtext }}</h5>
						<ul class="contact-lists list-unstyled mb-0 d-flex">
							<li>15 November 23</li>
							<li>Interior</li>
							<li>5 min read</li>
						</ul>
					</div>
				</div>
			</div>			
			<!--Banner Section ======================-->


			<!--Blog-single Section ======================-->
			<section class="section-blog-single position-relative">
				<div class="container">
					<div class="row gy-5 justify-content-between">
						<div class="col-lg-9">
							<div class="blog-inner">
								<p class="mb-0">In the fast-paced world of urban living, the allure of compact city apartments iundeniable. The challenge lies in transforming these small spaces into comfortable, stylish havens that cater to both function and aesthetics. With a touch of creativity and a keen eye for design, you can create a cozy, inviting apartment that maximizes every inch of space. Into this blog we'll explore some key tips for making the most of your small apartment, turning it into a to warm and functional home.</p>
								<h4 class="mt-4 mt-lg-40">Embrace Minimalism:</h4>
								<p class="mb-0 mt-3">In a smaller living space, less is often more. Embrace minimalism by selecting furniture with clean lines, uncluttered surfaces, and a neutral color palette. A minimalist to approach not only creates a sleek and open environment but also instills an sense of calm and tranquility in your apartment.</p>
								<h4 class="mt-4 mt-lg-40">Multi-Functional Furniture:</h4>


								
								
                                
                                
								
							</div>
							<!-- blog-inner -->
						</div>
			 
					</div>
				</div>
			</section>
			<!--Blog-single Section ======================-->





{% endblock body %}

